commands:
  env:
    PRODROOT: /home/ec2-user/EcoMap/ecomap
    PYSRCROOT: /home/ec2-user/EcoMap/ecomap/src/python
    CONFROOT: /home/ec2-user/EcoMap/ecomap/etc
    PYTHONPATH: /home/ec2-user/EcoMap/ecomap/src/python
    PYTHON: ${PYTHON:-/etc/python}
    PYTHON_EGG_CACHE: ${PYTHON_EGG_CACHE:-/tmp/.python-eggs}
